//- index.jade
extends ./layout/template.jade
block title
  title gulp + jade + less + coffee

block content
  .container
    .row
      .col-lg-4
        .form-group
          input.form-control.input-sm(type="text")
        .form-group
          input.form-control(type="text")
        .form-group
          input.form-control.input-lg(type="text")
        .form-group
          textarea.form-control Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et.
        .form-group
          input.form-control.input-lg(type="text" disabled)
        .form-group
          .input-group
            span.input-group-addon @
            input.form-control(type='text', placeholder='Username')
        .form-group
          .input-group
            span.input-group-addon $
            input.form-control(type='text')
            span.input-group-addon .00
        .form-group
          .input-group
            input.form-control(type='text')
            span.input-group-addon .00
        .form-group
          .input-group
            input.form-control(type='text')
            span.input-group-btn
              button.btn.btn-primary(type='button') Go!
        .form-group
          .input-group
            input.form-control(type='text')
            .input-group-btn
              button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
                | Action
                span.caret
              ul.dropdown-menu.pull-right
                li
                  a(href='#') Action
                li
                  a(href='#') Another action
                li
                  a(href='#') Something else here
                li.divider
                li
                  a(href='#') Separated link
        .form-group
          input.switch(type="checkbox" name="prueba" data-size="mini" data-on-color='primary' checked)
          input.switch(type="checkbox" name="prueba" data-size="small" data-on-color='primary' checked)
          input.switch(type="checkbox" name="prueba" data-size="medium" data-on-color='primary' checked)
          input.switch(type="checkbox" name="prueba" data-size="large" data-on-color='primary' checked)
          br
          input.switch(type="checkbox" name="prueba" data-size="mini" data-on-color='success' checked)
          input.switch(type="checkbox" name="prueba" data-size="mini" data-on-color='warning' checked)
          input.switch(type="checkbox" name="prueba" data-size="mini" data-on-color='danger' checked)
          input.switch(type="checkbox" name="prueba" data-size="mini" data-on-color='default' checked)
        .form-group
          .input-group.date.datetime.col-md-5.col-xs-7(data-date='1979-09-16T05:25:07Z', data-date-format='yyyy-mm-dd - HH:ii', data-link-field='dtp_input1')
            input.form-control(size='16', type='text', value='', readonly='')
            span.input-group-addon.btn.btn-primary
              span.fa.fa-th
      .col-lg-4
        a(href='#').btn.btn-primary Lorem ipsum.
        br
        br
        a(href='#').btn.btn-success Lorem ipsum.
        br
        br
        a(href='#').btn.btn-warning Lorem ipsum.
        br
        br
        a(href='#').btn.btn-danger Lorem ipsum.
        br
        br
        a(href='#').btn.btn-info Lorem ipsum.
